.row
  .col-lg-4.col-md-6.ml-auto.mr-auto
    %h1.text-center Account
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .form-group
        = f.email_field :email, class: 'form-control', placeholder: 'Email Address'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        .alert.alert-warning
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .form-group
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
        %p.form-text.text-muted
          %small Leave password blank if you don't want to change it
      .form-group
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password'
      .form-group
        = f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password'
        %p.form-text.text-muted
          %small We need your current password to confirm your changes
      .form-group
        = f.submit "Save Changes", class: 'btn btn-lg btn-block btn-dark'
    %hr/
    %p.text-center= link_to "Deactivate my account", registration_path(resource_name), data: { confirm: "Are you sure? You cannot undo this." }, method: :delete
