.row
  .col-lg-4.col-md-6.ml-auto.mr-auto
    %h1.text-center Sign Up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        = f.email_field :email, autofocus: false, class: 'form-control', placeholder: "Email Address"
      .form-group
        = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
      .form-group
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password'
      .form-group
        = f.submit "Sign up", class: "btn btn-dark btn-block btn-lg"
    .text-center
      = render "devise/shared/links"
