.row
  .col-lg-4.col-md-6.ml-auto.mr-auto
    %h2.text-center Reset your password
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      %br/
      %p.text-center Enter your email address below and we will send you a link to reset your password.
      .form-group
        = f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control'
      .form-group
        = f.submit "Send password reset email", class: 'btn btn-dark btn-block btn-lg'
    .text-center
      = render "devise/shared/links"
