$dark-blue: #1E3667;
$pure-white: #fff;
$pretty-in-pink: #E34099;
$material-pink: #F06292;
$bright-blue: #64b5f6;
$material-blue: #4285F4;
$background: #EDEDED;
$awesome-black: #1C1F24;

//Utility colors
$error: #A92F41;
$positive: #91c7a9;
$highlight: #E5DFC5;
$disabled: #B2BAC4;
$grey-1: #EBEDF8;