- if object.errors.any?
  #error_explanation.alert.alert-danger.alert-dismissible.fade.show{role: "alert"}
    %h4
      = pluralize(object.errors.count, "error")
      prohibited
      this object from being saved:
    %ul.list-unstyled
      - object.errors.full_messages.each do |msg|
        %li= msg
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
      %span{"aria-hidden" => "true"} ×