- flash.each do |type, msg|
  %div{:class => "alert #{bootstrap_class_for_flash(type)} alert-dismissable fade show"}
    = msg
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×