%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to "CI", root_path, class: "navbar-brand"
  %button.navbar-toggler.p-0.border-0{"aria-controls" => "navbarToggleExternalContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarToggleExternalContent", "data-toggle" => "offcanvas", type: "button"}
    %span.navbar-toggler-icon
  #navbarToggleExternalContent.navbar-collapse.offcanvas-collapse
    %ul.navbar-nav.mr-auto
      - if user_signed_in?
        %li.nav-item
          = link_to 'Posts' , posts_path, class: "nav-link"
      %li.nav-item
        = link_to 'About' , about_path, class: "nav-link"
      %li.nav-item
        = link_to 'Help' , help_path, class: "nav-link"
    %ul.navbar-nav.ml-auto
      - if user_signed_in?
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown.d-flex.align-items-center{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
            Actions
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
            = link_to 'New Post', new_post_path, class: "dropdown-item"
            = link_to 'All Posts', posts_path, class: "dropdown-item"
            .dropdown-divider
            = link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-item'
      - else
        %li.nav-item
          = link_to "Login", new_user_session_path, class: 'nav-link'