%h1 Help
%p This project uses:
%ul{class: 'list-unstyled'}
  %li 
    %a{ :href => "https://bitbucket.org/product/features/pipelines"} Bitbucket pipelines
  %li 
    %a{ :href => "https://www.heroku.com"} Heroku to deploy
  %li 
    %a{ :href => "http://rspec.info"} Rspec for testing
  %li 
    %a{ :href => "https://rubocop.readthedocs.io/en/latest/"} Rubocop for syntax check
