.row
  .col-lg-4.col-md-6.ml-auto.mr-auto
    %h1.text-center Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.email_field :email, autofocus: true, placeholder: 'Email Address', class: 'form-control'
      .form-group
        = f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control'
      - if devise_mapping.rememberable?
        .form-check
          %label.form-check-label
            = f.check_box :remember_me, class: "form-check-input"
            Remember me
      .form-group
        = f.submit "Log in", class: "btn btn-dark btn-block btn-lg"
    .text-center
      = render "devise/shared/links"
