= form_with(model: post, local: true) do |form|
  = render 'shared/errors', object: post
  .form-group
    = form.label :title
    = form.text_field :title, class: "form-control", placeholder: "Title"
  .form-group
    = form.trix_editor :body, as: :trix_editor
  .actions
    = form.submit "Send", class: "btn btn-block btn-outline-dark"

:javascript 
  $('trix-editor').css("min-height", "200px");
