- @posts.each do |post|
  %tr{id: "log-#{post.id}"}
    %td.text-center= post.title
    %td.text-center= sanitize(sanitize(post.body, tags: ['h1']).truncate(50))
    %td.text-center= post.visit_count
    %td.text-center
      = link_to(post_path(post)) do
        = material_icon.link
      = link_to(edit_post_path(post), class: 'text-muted') do
        = material_icon.edit
      = link_to(post_path(post), :data => { :confirm => "Are you sure?" }, :method => :delete, class: 'text-danger') do
        = material_icon.delete