.d-flex.flex-row.align-items-center
  %h1{ class: 'flex-grow-1'} All Posts
  = link_to('New Post', new_post_path, class: 'btn btn-dark btn-sm')
.container.container-content
  %table.table.table-borderless.table-responsive-sm.table-hover
    %thead
      %th.text-center 
        %h6 Title
      %th.text-center
        %h6 Body
      %th.text-center 
        %h6 Visit Count
      %th.text-center 
        %h6 Actions
    %tbody#posts_container
      = render 'posts'
%br
#posts_paginator.row.justify-content-center.align-items-center
  = paginate @posts, remote: true
