@import "base/globals.scss";
$body-bg: $background;
$dark: $awesome-black;
$primary: $material-blue;
$success: $positive;
$danger: $error;
@import "styles/footer.scss";
@import "bootstrap";
@import "styles/offcanvas.scss";
@import "trix";
@import "material_icons";

.container-content {
  background-color: $pure-white;
  padding: 24px;
  border: 1px solid $grey-1;
  border-radius: 8px; 
  margin-top: 24px; 
}